        <div class="navigation">
            <!-- <button type="button" class="btnNav eNavFold"><i aria-hidden="true" class="icon icoNav"></i>네비게이션</button> -->
            <div module="Layout_category" class="navigation__category RW" style=inline>
                <!--@css(/css/module/layout/category.css)-->
                <ul> <!-- 상단바 중앙 카테고리(대분류) 링크 -->
                    <li><a href="{$link_product_list}">{$name_or_img_tag}</a></li>
                    <li><a href="{$link_product_list}">{$name_or_img_tag}</a></li>
                    <li><a href="{$link_product_list}">{$name_or_img_tag}</a></li>
                    <li><a href="{$link_product_list}">{$name_or_img_tag}</a></li>
                    <li><a href="{$link_product_list}">{$name_or_img_tag}</a></li>
                </ul>
            </div>
        </div> 
