        <div class="navigation">
            <!-- <button type="button" class="btnNav eNavFold"><i aria-hidden="true" class="icon icoNav"></i>네비게이션</button> -->
            <div module="Layout_category" class="navigation__category RW" style=inline>
                <!--@css(/css/module/layout/category.css)-->
                <ul>
                    <li><a href="{$link_product_list}">SOCKS</a></li>
                    <li><a href="{$link_product_list}">MEN</a></li>
                    <li><a href="{$link_product_list}">WOMEN</a></li>
                </ul>
            </div>
        </div> 
